// colors
$color-primary: #30B2BF;
$color-primary-light: #36CAD9;
$color-primary-dark: #23838C;

$color-white: #FFF;
$color-black: #000;
$color-gray-light: #BFBFBF;

// fonts
$default-font-size: 1.5rem;
